<ion-header-bar align-title="center" class="bar-positive">
 <h1 class="title">Add Account</h1>
  <div class="buttons">
    <button class="button icon-left ion-chevron-left button-clear button-dark">Back</button>
  </div>
</ion-header-bar>
<div class="list">
  <label class="item item-input">
    <i class="icon ion-person placeholder-icon"></i>
    <span class="input-label">Username</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <i class="icon ion-locked placeholder-icon"></i>
    <span class="input-label">Password</span>
    <input type="password">
  </label>
  <button class="button button-small">
    Submit
  </button>
  <div class="item item-text-wrap">
    *This app does not transimit your details. All credentials stores locally on your phone.
  </div>
</div>
