<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">History</h1>
</ion-header-bar>
<ion-content>
  <h4>Select cards</h4>
  <fing-acts-dayweekmonth></fing-acts-dayweekmonth>
  <fing-acts-day></fing-acts-day>
  <ion-list>
    <ion-div ng-repeat="card in cards">
      <a class="item item-icon-left item-icon-right item-light" href="#/tab/card/{{card.id}}">
      	<i class="icon ion-card"></i>
      	{{card.name}}
      	{{card.cardNumber}}
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </ion-div>
  </ion-list>
  <fing-acts-week></fing-acts-week>
  <div ac-chart="chartType" ac-data="data" ac-config="config" id="chart" class="chart"></div>
</ion-content>
