<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">Card</h1>
  <div class="buttons">
    <button class="button button-clear" ng-click=""><i class="ion-android-add"></i></button>
  </div>
</ion-header-bar>
<ion-content>
  <div class="card">
  	<div class="item item-divider item-energized">
  		Welcome to Opal Mate
  	</div>
  <div class="item item-text-wrap">
  	G'day sydney commuters! To get started to use this App,
  	Please press the plus button to add your card.
  </div>
</ion-content>
