<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="Card" icon="icon ion-ios7-star" href="#/tab/card">
    <ion-nav-view name="tab-card"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  <ion-tab title="History" icon="icon ion-ios7-pie" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Calculator" icon="icon ion-ios7-calculator" href="#/tab/calculator">
    <ion-nav-view name="tab-calculator"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" icon="icon ion-ios7-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
