<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-stable tabs-color-assertive tabs-icon-top ">
  <!-- Card Tab -->
  <ion-tab title="Recent" icon="icon ion-ios7-clock" href="#/tab/recent">
    <ion-nav-view name="tab-recent"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon="icon ion-ios7-pie" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <!-- Calculator Tab -->
  <ion-tab title="Calculator" icon="icon ion-ios7-calculator" href="#/tab/calculator">
    <ion-nav-view name="tab-calculator"></ion-nav-view>
  </ion-tab>

  <!-- Calculator Tab -->
  <ion-tab title="Today" icon="icon ion-wrench" href="#/tab/today">
    <ion-nav-view name="tab-today"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="About" icon="icon ion-ios7-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
