/*!
* Opal account.scss - SCSS Style
* -----------------------------------
*/

.account {
	.text, .image {
		width: 90%;
		margin: 20px auto;
		img {
			width: 100%;
			height: auto;
		}
	}
  .form {
    width: 90%;
    margin: 0 auto;
  }
  .error {
    color: red;
  }
  button {
    width: 90%;
    margin-top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
  }
  .disclaimer {
    margin: 20px 0 0 0;
  }
}
