/*!
* Opal calculator.scss - SCSS Style
* -----------------------------------
*/
.calculator {
  .title {
    margin: 10px;
  }
  .transportation {
    height: 36px;
    width: 35px;
    float: left;
    margin-left: -45px;
  }
}

.train{
  .transportation {
    height: 36px;
    width: 35px;
    float: left;
  }
}
