/*!
* Opal card.scss - SCSS Style
* -----------------------------------
*/

.card-details {


  .timeInfo{


  }

  .trkworkDetailsItemHeading{

    font-size: 0.9em;
    font-weight: 700;

  }

  .trkworkItemHeading{
    margin: 0;
    padding: 2px 0 0 8px;
  }

  ol, ul{
    list-style:initial;
  }


}
