/*!
* Opal card.scss - SCSS Style
* -----------------------------------
*/

.card-details {

  .title{
    padding:20px 20px 0px 20px;
  }

  .fareBodyTxt
  {
    padding:20px;
  }
  .lineName{
    color:white !important;
  }

  .stationName{
    font-size:20px;
  }

  .costs{
    float: right;
    padding-right: 20px;
  }

  .trkworkDetailsItemHeading{
    font-size: 0.9em;
    font-weight: 700;
  }

  .trkworkItemHeading{
    margin: 0;
    padding: 2px 0 0 8px;
  }

  ol, ul{
    list-style:initial;
  }

  .hunter {

    background: #9aa4a8;
    color: white;
  }
  .southernHighlands {
    background: #9aa4a8;
    color: white;
  }
  .southCoast {

    background: #9aa4a8;
    color: white;
  }
  .newcastle {
    color: white;
    background: #9aa4a8;
  }
  .blueMountains {
    background: #9aa4a8;
    color: white;
  }
  .olympicPark {
    color: white;
    background: #9aa4a8;
  }
  .carlingford {
    background: #002b7f;
    color: white;
  }
  .cumberland {
    color: white;
    background: #cc00a0;
  }
  .easternSuburbs {
    background: #1b82c5;
    color: white;
  }
  .southWest {
    background: #f37f89;
    color: #fff;
  }
  .bankstown {
    background: #f26726;
    color: white;
  }
  .innerWest {
    color: white;
    background: #4b9f47;
  }
  .airport {
    background: #4b9f47;
    color: white;
  }
  .western {
    background: #f59c00;
    color: white;
  }
  .northern {
    color: white;
    background: #f59c00;
  }
  .northShore {
    background: #f59c00;
    color: white;
  }

  .Adult{
    background: #2c2a28;
    color: white;
  }

  .Child{
    background: #75a769;
    color: white;
  }
  .Senior{
    background: #f7cd64;
    color: white;
  }
  .Concession{
    background: #acabab;
    color: white;
  }


}
