.card {

  .hunter {

    background: #9aa4a8;

  }
  .southernHighlands {
    background: #9aa4a8;

  }
  .southCoast {

    background: #9aa4a8;
  }
  .newcastle {

    background: #9aa4a8;
  }
  .blueMountains {
    background: #9aa4a8;

  }
  .olympicPark {

    background:#9aa4a8;
  }
  .carlingford {
    background: #002b7f;

  }
  .cumberland {

    background: #cc00a0;
  }
  .easternSuburbs {
    background: #1b82c5;

  }
  .bankstown {
    background: #f26726;

  }
  .innerWest {

    background: #4b9f47;
  }
  .airport {
    background: #4b9f47;

  }
  .western {
    background: #f59c00;

  }
  .northern {

    background: #f59c00;
  }
  .northShore {
    background: #f59c00;
  }
}
