<div id="calculator">
  <p class="title">TRAINS</span></p>
  <ion-list>
    <ion-div>
      <a class="item item-icon-left item-icon-right item-light" ng-href="#/tab/calculator/train">
        <div class="train"></div>
        By stations
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </ion-div>
  </ion-list>
  <p class="title">BUSES</span></p>
  <ion-list>
    <ion-div>
      <a class="item item-icon-left item-icon-right item-light" ng-href="#/tab/calculator/bus">
        <div class="bus"></div>
        By bus stops
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </ion-div>
  </ion-list>
  <p class="title">FERRIES</span></p>
  <ion-list>
    <ion-div>
      <a class="item item-icon-left item-icon-right item-light" ng-href="#/tab/calculator/ferry">
      <div class="ferry"></div>
        By wharfs
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </ion-div>
  </ion-list>
<div>
