<div class="row responsive-sm">
  <div class="button-bar">
    <a class="button button-small button-outline button-energized" ng-class="{active:type == 'map'}" ng-click="setType('map')">By Map</a>
		<a class="button button-small button-outline button-energized" ng-class="{active:type == 'name'}" ng-click="setType('name')">By Name</a>
		<a class="button button-small button-outline button-energized" ng-class="{active:type == 'distance'}" ng-click="setType('distance')">By Distance</a>
  </div>
</div>
