<ion-view title="">
  <ion-content>
    <div class="row responsive-sm">
      <div class="col col-80 col-offset-10">
        <div>
          <div class="item item-divider item-balanced">
            <span>Opal Ferry Fares</span>
          </div>
          <div class="row" style="background:#d6e8f0">
            <div class="col">Distance</div>
            <div class="col">Adult</div>
            <div class="col">Child</div>
          </div>
          <div class="list">
            <ul class="list">
              <li class="item">
                <div class="row">
                  <div class="col">
                    (0-9 km)</div>
                  <div class="col">$5.60</div>
                  <div class="col">$2.80</div>
                </div>
                <div class=" item item-text-wrap item-stable">
                    From flowing wharf to Circular Quay:<br>
                    Neutral Bay, Balmain/Woolwich, Darling Harbour, Mosman Bay, Taronga Zoo, Eastern Suburbs, Cabarita
                </div>
              </li>
              <li class="item">
                <div class="row">
                  <div class="col">
                    (>9 km)</div>
                  <div class="col">$7.00</div>
                  <div class="col">$3.50</div>
                </div>
                <div class=" item item-text-wrap item-stable">
                    From flowing wharf to Circular Quay:<br>
                    Manly, Kissing Point, Meadowbank, Rydalmere, Sydney Olympic Park, Parramatta
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
