<ion-view title="">
  <ion-content>
    <div class="row responsive-sm">
      <div class="col col-80 col-offset-10">
        <div>
          <div class="item item-divider item-positive">
            <span>Bus 1   (0 - 3 km)</span>
          </div>

          <div class="row" style="background:#d6e8f0">
            <div class="col">Bus 1</div>
            <div class="col"> (0 - 3 km)</div>
          </div>
          <div class="row" style="background:#d6e8f0">
            <div class="col">Adult</div>
            <div class="col"> $2.10</div>
          </div>
          <div class="row" style="background:#d6e8f0">
            <div class="col">Gold Senior/Pensioner fare</div>
            <div class="col"> $1.05</div>
          </div>
          <div class="row" style="background:#d6e8f0">
            <div class="col">Concession fare</div>
            <div class="col"> $1.05</div>
          </div>
          <div class="row" style="background:#d6e8f0">
            <div class="col">Child/Youth fare</div>
            <div class="col"> $1.05</div>
          </div>

          <div class="item item-divider item-positive">
            <span>Bus 2   (3 - 8 km)</span>
          </div>
          <div class="row" style="background:#d6e8f0">
            <div class="col">Adult</div>
            <div class="col"> $3.50</div>
          </div>
          <div class="row" style="background:#d6e8f0">
            <div class="col">Gold Senior/Pensioner fare</div>
            <div class="col"> $1.75</div>
          </div>
          <div class="row" style="background:#d6e8f0">
            <div class="col">Concession fare</div>
            <div class="col"> $1.75</div>
          </div>
          <div class="row" style="background:#d6e8f0">
            <div class="col">Child/Youth fare</div>
            <div class="col"> $1.75</div>
          </div>

          <div class="item item-divider item-positive">
            <span>Bus 3   (8+ km)</span>
          </div>
        </div>
        <div class="row" style="background:#d6e8f0">
          <div class="col">Adult</div>
          <div class="col"> $4.50</div>
        </div>
        <div class="row" style="background:#d6e8f0">
          <div class="col">Gold Senior/Pensioner fare</div>
          <div class="col"> $2.25</div>
        </div>
        <div class="row" style="background:#d6e8f0">
          <div class="col">Concession fare</div>
          <div class="col"> $2.25</div>
        </div>
        <div class="row" style="background:#d6e8f0">
          <div class="col">Child/Youth fare</div>
          <div class="col"> $2.25</div>
        </div>
        </div>

      </div>
  </ion-content>
</ion-view>
