<ion-view title="Bus Fares">
  <ion-content>
    <div class="row responsive-sm">
      <div class="col col-80 col-offset-10">
        <div>
          <div class="item item-divider item-energized">
            <span>Bus Fares</span>
          </div>
          <div class="row" style="background:#d6e8f0">
            <div class="col">Sessions</div>
            <div class="col">Adult</div>
            <div class="col">Concession</div>
          </div>
          <div class="list">
            <ul class="list">
              <li class="item">
                <div class="row">
                  <div class="col">Bus1
                    <br>(0-3 km)</div>
                  <div class="col">$2.10</div>
                  <div class="col">$1.05</div>
                </div>
              </li>
              <li class="item">
                <div class="row">
                  <div class="col">Bus2
                    <br>(3-8 km)</div>
                  <div class="col">$3.50</div>
                  <div class="col">$1.75</div>
                </div>
              </li>
              <li class="item">
                <div class="row">
                  <div class="col">Bus3
                    <br>(8+km)</div>
                  <div class="col">$4.50</div>
                  <div class="col">$2.25</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
