<div class="calculator">
  <p class="title">TRAINS</span></p>
  <ion-list>
    <ion-div>
      <a class="item item-icon-left item-icon-right item-light" ng-href="#/tab/calculator/train">
        <img class="transportation" src="img/train.png"></img>
        Calculate Opal train fares
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </ion-div>
  </ion-list>
  <p class="title">BUSES</span></p>
  <ion-list>
    <ion-div>
      <a class="item item-icon-left item-icon-right item-light" ng-href="#/tab/calculator/bus">
        <img class="transportation" src="img/bus.png"></img>
        Check Opal bus fares rate
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </ion-div>
  </ion-list>
  <p class="title">FERRIES</span></p>
  <ion-list>
    <ion-div>
      <a class="item item-icon-left item-icon-right item-light" ng-href="#/tab/calculator/ferry">
      <img class="transportation" src="img/ferry.png"></img>
        Check Opal ferry fares rate
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </ion-div>
  </ion-list>
<div>
