<ion-view title="">
  <ion-content class="train">
    <div class="item">Please select the stations:</div>
    <form name="loginForm">
	    	<!--
			<div class="item item-input-inset">
				 <img class="transportation" src="img/train.png"></img>
				<label class="item-input-wrapper">
      			<autocomplete ng-model="yourchoice" data="movies" on-type="updateMovies"></autocomplete>
				</label>
			</div>
			<div class="item item-input-inset">
				<img class="transportation" src="img/train.png"></img>
				<label class="item-input-wrapper">
        		<input type="text" id="Autocomplete" class="form-control" ng-autocomplete ng-model="result2" details="details2" options="options2"/>
				</label>
			</div>
			-->
			<div>
				<!--<div class="trainIcon"><img class="transportation" src="img/train.png"></img></div>-->
				<div class="trainIcon">From station:&nbsp</div>
				<div class="autoCompleteField"><autocomplete ng-model="yourchoice1" data="stationFrom" on-type="updateFrom"></autocomplete></div>
			</div>

			<div style="clear:both;"></div>
	    	<div>
				<!--<div class="trainIcon"><img class="transportation" src="img/train.png"></img></div>-->
				<div class="trainIcon">To station:&nbsp</div>
				<div class="autoCompleteField"><autocomplete ng-model="yourchoice2" data="stationTo" on-type="updateTo"></autocomplete></div>
			</div>

			<div>
				<div class="trainIcon">Card type:&nbsp</div>
				<select>
					<option selected>adult</option>
					<option>child</option>
					<option>senior</option>
					<option>concession</option>
				</select>
			</div>

			<div class="row responsive-sm">
		        <button class="button button-full button-block button-positive" ng-click="search()">
		          Search
		        </button>
      		</div>

	</form>
  </ion-content>
</ion-view>
