<ion-view title="">
  <ion-content class="train">
    <div class="item">Please select the stations:</div>
    <form name="loginForm">
	    <div class="list">
			<div class="item item-input-inset">
				 <img class="transportation" src="img/train.png"></img>
				<label class="item-input-wrapper">
					<input type="text" placeholder="From station">
				</label>
			</div>
			<div class="item item-input-inset">
				<img class="transportation" src="img/train.png"></img>
				<label class="item-input-wrapper">
					<input type="text" placeholder="To station">
				</label>
			</div>
			
			<div class="row responsive-sm">
		        <button class="button button-full button-block button-positive" ng-click="search()">
		          Search
		        </button>
      		</div>
		</div>  
	</form>
  </ion-content>
</ion-view>
