<ion-view title="Today">
  <ion-content>
		<div>
			<ion-refresher
				pulling-text="Pull to refresh..."
				on-refresh="doRefresh()">
			</ion-refresher>
		</div>

    <div ng-repeat="info in serviceInfo">
      <div class="card">
        <div class="item item-divider {{info.className}}">
          <span>{{info.lineName}}</span>
        </div>
				<div class="item item-text-wrap">
					<span ng-if="info.serviceStatus === 'Good service'">{{info.serviceStatus}}</span>
					<span ng-if="info.serviceStatus !== 'Good service'">{{info.serviceLink}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
