<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon-left ion-ios7-arrow-left button-clear " ng-click="closeLogoutModal()">
      Back
    </button>
    <h1 class="text title">Logout</h1>
  </ion-header-bar>
  <ion-content class="account">
    <div class="row responsive-sm">
      <div class="text">
        Login back in anytime to re-start tracking your Opal expenses.
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="image">
        <img src="img/logout.png" alt="" />
      </div>
    </div>
    <form name="logoutForm">
      <div class="list form">
        <div class="row responsive-sm">
          <button class="button button-full button-block button-positive" ng-click="logout()">
            Logout
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
