<fgts-recent-acc></fgts-recent-acc>
<ion-view title="Recent" hide-nav-bar="true">
  <ion-content>

    <div ng-if="isLoggedin">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
    </div>

    <fgts-recent-welcome></fgts-recent-welcome>

    <div class="row responsive-sm" ng-repeat="opal in opals">
      <div class="col col-80 col-offset-10">
        <div class="card">

          <div class="item item-divider item-energized">
            <span>{{opal.cardNickName}}</span>
            <span style="float:right">{{opal.cardBalanceInDollars}}</span>
          </div>

          <div ng-show="opal.activities.length==0">
            <p class="info">Loading...</p>
          </div>

          <div ng-show="opal.activities">
            <p class="info">Most Recent Trip:</p>
            <fgts-recent-activity class="item item-avatar" ng-repeat="activity in opal.activities | limitTo: 5">
            </fgts>
          </div>

          <div ng-show="!opal.activities">
            <p class="info">No activities found for this card</p>
          </div>

        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
