<div class="row responsive-sm">
  <div class="button-bar">
    <a class="button button-small button-outline button-energized {{(type == 'By Map') &&  'active' || ''}}" ng-click="setType($event)">By Map</a>
    <a class="button button-small button-outline button-energized {{(type == 'By Name') &&  'active' || ''}}" ng-click="setType($event)">By Name</a>
    <a class="button button-small button-outline button-energized {{(type == 'By Distance') &&  'active' || ''}}" ng-click="setType($event)">By Distance</a>
  </div>
</div>
