<div class="row responsive-sm">
  <div class="col col-80 col-offset-10">
    <div class="card" id="card">
      <div class="item item-divider item-energized">
        <span>{{card.cardNickName}}</span><span style="float:right">{{card.cardBalanceInDollars}}</span>
      </div>

      <div ng-show="card.activities.length==0">
        <p class="info">Loading...</p>
      </div>

      <div ng-show="card.activities">
        <p class="info">Most Recent Trip:</p>
        <fing-acts-avatar class="item item-avatar" ng-repeat="activity in card.activities | limitTo: 5"></fing-acts-avatar>
      </div>

      <div ng-show="!card.activities">
        <p class="info">No activities found for this card</p>
      </div>
    </div>
  </div>
</div>
