<!-- will use ng-repeat to display all days latter-->
<div class="list">
	<div class="list">
		<a class="item item-avatar" href="#">
			<img src="img/train.png">
			<h4>Central  to  Hurstville</h4>
			<p>$2.87 (off-peak)</p>
		</a>
		<a class="item item-avatar" href="#">
			<img src="img/train.png">
			<h4>Hurstville  to  Central</h4>
			<p>$2.87 (off-peak)</p>
		</a>
		<a class="item item-avatar" href="#">
			<img src="img/bus.png">
			<h4>Central  to  Hurstville</h4>
			<p>$2.87 (off-peak)</p>
		</a>
	</div>
</div>