<ion-view title="{{title}}">
  <fgts-hist-tabs></fgts-hist-tabs>
  <ion-content class="subHeader">
    <div ng-switch="viewType">
      <fgts-hist-chart ng-switch-default></fgts-hist-chart>
      <fgts-hist-txt ng-switch-when="text"></fgts-hist-txt>

    </div>
  </ion-content>

  <div class="bottom-buttons">
    <ng-pane> 
      <a href="#" ng-click="prev()" class="nav prev">
        <i class="icon ion-ios7-arrow-left" ng-if="viewType=='chart'"></i>
      </a>
    </ng-pane>

    <a ng-click="toggleViewType()" class="toggle-view-type">
      <img ng-src="{{toggleButtonImage}}" alt="" />
    </a>

    <ng-pane >
      <a href="#" ng-click="next()" class="nav next">
        <i class="icon ion-ios7-arrow-right" ng-if="viewType=='chart'"></i>
      </a>
    </ng-pane>

  </div>
</ion-view>
