<ion-view title="{{title}}">
  <ion-content>
    <fgts-hist-tabs></fgts-hist-tabs>

    <div ng-switch="viewType">
      <fgts-hist-chart ng-switch-default></fgts-hist-chart>
      <fgts-hist-text ng-switch-when="text"></fgts-hist-text>
    </div>
  </ion-content>

  <div class="bottom-buttons">
    <a href="#" ng-click="prev()" class="nav prev">
      <i class="icon ion-ios7-arrow-left"></i>
    </a>
    <a ng-click="toggleViewType()" class="toggle-view-type">
      <img ng-src="{{toggleButtonImage}}" alt="" />
    </a>
    <a href="#" ng-click="next()" class="nav next">
      <i class="icon ion-ios7-arrow-right"></i>
    </a>
  </div>
</ion-view>
