<ion-view title="Live Track Info" >
  <ion-content class="card-details">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
		<div class="item item-divider">
			<span>{{date | date:'medium'}}</span>
		</div>
   
    <div class="card" ng-repeat="info in serviceInfo">
      <div>
        <div class="item item-divider {{info.className}}">
          <p class="lineName" ng-bind-html="info.lineName"></p>
        </div>
        <a ng-switch="info.serviceStatus" class="item item-icon-left item-icon-right item-light" ng-click="moreNews(info.exteralLink,info.lineName,info.serviceStatus)">
          <i class="icon ion-happy" ng-switch-when="Good service"></i>
          <i class="icon ion-clock" ng-switch-when="Major delays"></i>
          <i class="icon ion-clock" ng-switch-when="Delays"></i>
          <i class="icon ion-wrench" ng-switch-default></i>
          <span>{{info.serviceStatus}}</span>
          <i class="icon ion-ios7-arrow-right" ng-if="info.serviceStatus != 'Good service'"></i>
        </a>
      </div>
  </ion-content>
</ion-view>
