<ion-view title="Live travel news">
  <ion-content class="today">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
		<div class="item item-divider">
			<span>{{date | date:'medium'}}</span>
		</div>
    <div class="card" ng-repeat="info in serviceInfo">
      <div>
        <div class="item item-divider {{info.className}}">
          <span>{{info.lineName}}</span>
        </div>
        <!--<div class="item item-text-wrap">
          <span ng-if="info.serviceStatus === 'Good service'" >{{info.serviceStatus}}</span>
          <span ng-if="info.serviceStatus !== 'Good service'" ng-click="moreNews(info.exteralLink)">{{info.serviceStatus}}<span style="float:right;"><i class="icon ion-ios7-arrow-right"></i></span></span>
        </div>-->
        <a ng-if="info.serviceStatus === 'Good service'" class="item item-icon-left item-icon-right item-light">
          <i class="icon ion-happy"></i>
            <span>{{info.serviceStatus}}</span>
        </a>
        <a ng-if="info.serviceStatus !== 'Good service'" class="item item-icon-left item-icon-right item-light">
          <i class="icon ion-wrench"></i>
            <span>{{info.serviceStatus}}</span>
          <i class="icon ion-ios7-arrow-right"></i>
        </a>
      </div>
  </ion-content>
</ion-view>
