<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button icon-left ion-chevron-left button-clear " ng-click="closeModal()">Back</button>
    <h1 class="title">Add Account</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-person placeholder-icon"></i>
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="Password">
      </label>
    </div>
    <div class="row responsive-sm">
      <button class="button button-block button-positive">
        Add Card
      </button>
    </div>
    <div class="row responsive-sm">
      <div class="item item-text-wrap">
      *This app does not transimit your details. All credentials stores locally on your phone.
      </div>
    </div>
  </ion-content>
</ion-modal-view>